
/*MY CODE*/

/*.slide {*/
/*    color: white;*/
/*    !*visibility: hidden;*!*/
/*    !*width: 700px;*!*/
/*    !*padding: 50px;*!*/
/*    !*margin: 50px;*!*/

/*}*/

body {

    background-color: black;
    font-family: Garamond;

}

/*#container {*/

/*    !*background-color: black;*!*/
/*    !*width: 700px;*!*/
/*    !*padding: 50px;*!*/
/*    !*margin: 50px;*!*/

/*}*/

/*!*.spotlight {*!*/

/*!*    visibility: visible;*!*/
/*!*    !*width: 700px;*!*!*/
/*!*    !*padding: 50px;*!*!*/
/*!*    !*margin: 50px;*!*!*/

/*!*}*!*/

h1 {
    font-size: 40px;
    text-align: center;
    color: #f2f2f2;
}

h3 {
    font-size: 35px;
    text-align: center;
    color: #f2f2f2;
}

/*BACKUP CODE*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1350px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: relative;
    /*position: absolute;*/
    bottom: 8px;
    width: 1350px;
    text-align: center;
    /*background-color: #717171;*/
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}